<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.DEFAULT_SCOPED_STORAGE"/>
    <uses-permission android:name="android.permission.FORCE_ENABLE_SCOPED_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Honeywell Broadcast Permission -->
    <uses-permission android:name="com.honeywell.decode.permission.DECODE"/>

    <!-- Necesarios para actualizar la app programáticamente -->
    <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> -->
    <!-- <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> -->

    <queries>
        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
    </queries>

    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.nfc"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.bluetooth"
            android:required="false"/>

    <application
            android:name="com.dacosys.warehouseCounter.WarehouseCounterApp"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/WarehouseCounterTheme"
            android:usesCleartextTraffic="true"
            tools:ignore="GoogleAppIndexingWarning"
            tools:targetApi="n">

        <!-- HONEYWELL Native support -->
        <uses-library
                android:name="com.honeywell"
                android:required="false"/>

        <!-- HONEYWELL Receiver -->
        <receiver
                android:name=".scanners.honeywell.HoneywellBroadcastReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="com.dacosys.warehouseCounter.intent.action.BARCODE"/>
            </intent-filter>
        </receiver>
        <!-- END HONEYWELL -->

        <!-- ZEBRA Receiver -->
        <receiver
                android:name=".scanners.zebra.ZebraBroadcastReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <!-- Actions to be handled should be registered here -->
                <action android:name="com.zebra.datacapture1.ACTION"/>
                <action android:name="com.symbol.datawedge.api.NOTIFICATION_ACTION"/>
                <action android:name="com.symbol.datawedge.api.RESULT_ACTION"/>
            </intent-filter>
        </receiver>
        <!-- END ZEBRA -->

        <!-- Para descargar y actualizar la app -->
        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.main.HomeActivity"
                android:exported="true"
                android:theme="@style/Theme.App.SplashScreen"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.main.LoginActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="false"
                android:label="@string/title_activity_login"
                android:launchMode="singleTop"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.main.SettingsActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/title_activity_settings">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".ui.activities.main.HomeActivity"/>
        </activity>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.codeCheck.CodeCheckActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:label="@string/code_read"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <!-- NFC Tech Filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.nfc.action.TECH_DISCOVERED"
                    android:resource="@xml/nfc_tech_filter"/>
        </activity>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.linkCode.LinkCodeActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:label="@string/code_link"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.orderRequest.NewCountActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:label="@string/setup_new_count"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.orderRequest.OrderRequestContentActivity"
                android:exported="false"
                android:label="@string/count"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.log.LogContentActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:exported="false"
                android:label="@string/log"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.orderRequest.OrderRequestConfirmActivity"
                android:exported="false"
                android:label="@string/confirm_count"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.sync.InboxActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:label="@string/count_select"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.sync.OutboxActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:label="@string/completed_counts"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name="com.dacosys.warehouseCounter.ui.snackBar.MakeText"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.common.QtySelectorActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:label="@string/enter_qty"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.common.MultiplierSelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:label="@string/select_multiplier"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.main.InitConfigActivity"
                android:configChanges="orientation|screenSize"
                android:exported="false"
                android:label="@string/initial_configuration"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.common.EnterCodeActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.DayNight.Dialog"
                android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.common.ObservationActivity"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".ui.activities.orderRequest.OrderRequestDetailActivity"/>
        <activity
                android:name=".ui.activities.item.ItemSelectActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name=".ui.activities.client.ClientSelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.item.CodeSelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:exported="false"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name=".ui.activities.itemCategory.ItemCategorySelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.ptlOrder.NewPtlOrdersActivity"
                android:exported="false"
                android:label="@string/setup_new_ptl"
                android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.ptlOrder.PtlOrderActivity"
                android:configChanges="keyboardHidden"
                android:exported="false"
                android:label="@string/ptl_order"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.ptlOrder.PtlOrderSelectActivity"
                android:exported="false"
                android:label="@string/setup_new_ptl"
                android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
                android:name="com.dacosys.warehouseCounter.ui.activities.location.LocationSelectActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:theme="@style/Theme.AppCompat.Translucent"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.dacosys.warehouseCounter.ui.activities.orderLocation.OrderLocationSelectActivity"
                  android:configChanges="keyboardHidden"
                  android:exported="false"
                  android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name="com.dacosys.warehouseCounter.ui.activities.print.PrintLabelActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false"/>
        <activity android:name="com.dacosys.warehouseCounter.ui.activities.location.LocationPrintLabelActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="false"/>
        <activity android:name="com.dacosys.warehouseCounter.ui.activities.barcodeLabel.TemplateSelectActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:excludeFromRecents="true"
                  android:theme="@style/Theme.AppCompat.Translucent"
                  android:windowSoftInputMode="adjustResize"/>
        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode"/>

        <property
                android:name="android.content.MEDIA_CAPABILITIES"
                android:resource="@xml/media_capabilities"/>

    </application>

</manifest>
